p {
  line-height: 1.5rem;
  font-size: 1rem;
}

.social li {
  min-width: 5rem;
}

input.pseudo-field {
  border: 0;
  border-bottom: 1px solid #2e2e2e;
  min-width: 10rem;
  width: fit-content;
}

div.actual div.actual-field {
  min-width: 10rem;
  display: inline-block;
  border-bottom: 1px solid #2e2e2e;
}

div.actual div.long {
  min-width: 30rem;
}

.font-small {
  font-size: 12px;
}

.social {
  padding-left: 0;
  list-style: none;
  width: fit-content;
  margin: 0 auto;
}

.social li {
  float: left;
  margin: 0 1rem;
}

@media print {
  div.pseudo {
    display: none;
  }

  div.actual {
    display: block;
    border: 0 !important;
  }

  .segment-title {
    display: none;
  }

  .doc-body {
    margin-top: 0px !important;
  }

  .container {
    padding-top: 0px !important;
  }

  input.pseudo-field {
    border: 0;
    border-bottom: 0;
  }

  button.btn {
    display: none;
  }

  ::-webkit-input-placeholder {
      /* WebKit browsers */
      color: transparent;
  }
  :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: transparent;
  }
  ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: transparent;
  }
  :-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: transparent;
  }
  input::placeholder {
      color: transparent;
  }
}